body,
html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  width: 100%;
  height: 100%;
}
.app {
  background: linear-gradient(
    47deg,
    rgb(238, 174, 202) 25%,
    rgb(148, 187, 233) 100%
  );
  padding: 30px 40px;
  min-height: 100vh;
}

table,
tr,
th,
td {
  border: 1px solid rgb(117, 117, 117);
  border-collapse: collapse;
}
tr,
th,
td {
  border: 1px solid rgb(117, 117, 117);
  background-color: white;
}
.table {
  width: 100%;

  margin-top: 40px;
}
.table__status {
  color: white;
  background-color: rgb(62, 62, 62) !important;
}
.table__status--header {
  height: 50px;
  background-color: rgb(62, 62, 62) !important;
}
.label {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  color: white;
}
.table__list:nth-child(even) {
  background-color: #f2f2f2;
}
.table__item {
  text-align: center;
  padding: 10px 0px;
}
#search {
  width: 300px;

  height: 32px;

  line-height: 32px;

  font-size: 18px;

  margin-left: 30px;

  padding-left: 16px;

  outline: none;
}
